img.isLoading {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--tertiary-background);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
img {
  aspect-ratio: attr(width) / attr(height);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity 0.1s;
}
.fade-slide-enter,
.fade-slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.icon-wrapper {
  border-radius: 50%;
  padding: 4px;

  svg {
    width: 24px;
    height: 24px;
  }

  &.heart-icon {
    &.outlined {
      background-color: #f71638a9;

      &:hover {
        background: rgba(255, 0, 0, 0.8);

        svg {
          fill: white !important;
        }
      }

      svg {
        path {
          stroke: white !important;
          fill: white !important;
        }
      }
    }

    &.filled {
      background: rgba(255, 0, 0, 0.8);

      svg {
        fill: white;
        path {
          fill: white;
        }
      }

      &:hover {
        background-color: #f71638a9;

        svg {
          path {
            stroke: white !important;
            fill: white !important;
          }
        }
      }
    }
  }

  &.cart-icon {
    &.outlined {
      background: #4438caa9;

      &:hover {
        background: rgba(0, 0, 255, 0.8);

        svg {
          fill: white;
        }
      }

      svg {
        fill: white !important;
      }
    }

    &.filled {
      background: rgba(0, 0, 255, 0.8);

      svg {
        fill: white !important;
      }

      &:hover {
        background: #4438caa9;
      }
    }
  }
}

.secondary-header-fade {
  top: -40px;
  opacity: 0;
  display: none;
  transition: all 0.1s ease-in-out;
}
