.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 6rem;
  column-gap: 2rem;

  @media (min-width: 768px) {
    column-gap: 3rem /* 48px */;
    row-gap: 12rem;
  }

  @media (max-width: 420px) {
    /* column-gap: 3rem; */
    row-gap: 10rem;
  }
}
